body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header {
    text-align: center;
}
header h1 {
    margin: 0;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* a tags */
nav ul li a:hover {
    text-decoration: underline; /* Add hover effect for links */
    cursor: pointer;
}

section {
    margin-bottom: 20px;
}
footer {
    text-align: center;
    /* background: #333; */
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#logo {
    width: 100px;
    height: auto;
}

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
    height: auto; 
    position: relative; 
}


/* NAVBAR */ 
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure navbar is above other content */
}
.nav-link {
    color: #ffffffc3; /* White text color */
    text-decoration: none; /* Remove underline */
    padding: 10px 15px; /* Padding around the link */
    display: inline-block; /* Make it block level for padding */
}

.nav-link:hover {
    color: #ffffff; /* Change color on hover */
    text-decoration: underline; /* Underline on hover */
}
.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: none; /* Remove default icon */
    display: inline-block;
    width: 30px; /* Width of the hamburger icon */
    height: 20px; /* Height of the hamburger icon */
    position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after,
.navbar-toggler-icon span {
    content: '';
    display: block;
    background-color: red; /* Set the color of the lines */
    height: 3px; /* Thickness of the lines */
    width: 100%; /* Full width of the icon */
    position: absolute;
    left: 0;
}

.navbar-toggler-icon::before {
    top: 0; /* Position the first line at the top */
}

.navbar-toggler-icon span {
    top: 50%; /* Position the middle line */
    transform: translateY(-50%);
}

.navbar-toggler-icon::after {
    bottom: 0; /* Position the last line at the bottom */
}

.navbar-toggler:focus {
    outline: none; /* Removes the grey border when clicked */
    box-shadow: none; /* Removes any additional focus shadow */
}


/* Responsive styles */

@media (max-width: 768px) {
    .desktop {
        display: none; /* Hide desktop navbar on mobile */
    }
    /* .mobile {
        display: block;
    } */
}

@media (min-width: 769px) {
    /* .desktop {
        display: block; 
    } */
    .mobile {
        display: none; /* Hide mobile navbar on larger screens */
    }
}