@media screen and (min-width: 1600px) {
    html{
        font-size: 100%;
    }
    .navbar {
        padding-top: 3.5rem;
    }

    .para-box-wrapper.abt-colmbia {
        margin-top: 5rem;
    }

  }


  @media screen and (min-width: 600px) {
    
.custom-space{
    padding: 0 5.5rem;
}

  .nav-item:not(:last-child) {
    margin-right: 3rem;
}


.h-100vh{
    min-height: 100vh;
} 
    
section{
    min-height: 100vh;
}

  }



  
@media (max-width: 768px) {


    #refreshBtn{
        margin-bottom: 10px;
    }
    .customPopup{
        overflow-y: auto;
        overflow-x: hidden;
    }
    .tip_content.para-box-wrapper{
        width: 100%;
        left: 0;
    }
    .footer-links {
        gap: 2rem;
        flex-wrap: wrap;
        margin-top: 4rem;
        flex-direction: column;
    }

    .fooetr-wrapper {
        flex-direction: column;
        padding: 4rem 0;
    }
    .footer-links a{padding: 0;}
    .cross{display: none;}
    span.cross.cross-one {
        left: 4rem;
        display: block;
    }

    .heading-1 .border {

        margin-top: 10px;
        display: inline-block;
    }
    .bg-coding-img.bg-orange{
        min-height: 70vh;
        display: flex
    ;
        justify-content: center;
        align-items: center;
    }

    .bg-coding-img::after, .bg-coding-img::before{
        width: 50%;
    }
    #imageGrid {
        display: flex;
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
    }

    .images-gallery a {
        position: static;
        width: 100% !important;
        height: 300px !important;
        margin: auto;
        gap: 20px;
    }

    .whyThis-matter-sec{
        padding: 3rem;
    }

    .navbar {
        background-color: #000;
    }
 
    header{margin: 0; padding: 0;}
    .figtingWithAISlider{
        background-color: #000;
        color: #fff;
    }
    .slider__person-name{
        color: #fff;
    }

    .dark_cta{
        background-color: #FF4F2A;
        color: #fff;
    }
    .slide-content{
        padding: 20px;
    }
    .btn_links-list {
        flex-wrap: wrap;
        width: 100%;
    }
    .btn_links-list span{
        color: #000;
        margin-left: 5px;
    }
    .slider__person-label, .slider__context-label, .viral-stats li span{
        color: #fff;
    }
    .slider_arrows {
        position: absolute;
        top: 15%;
        transform: translateY(-50%);
        width: 100%;
        left: 0;
        justify-content: space-between;
        display: flex;
        padding: 0 30px;
    }

    

 
    .slider_arrow_left svg, .slider_arrow_right svg {
        width: 2.25rem;
        height: 2.25rem;
        cursor: pointer;
    }

    .how-tospot-ai-sec .slider_arrows{
        position: static;
        transform: none;
    }
    
    section:not(:first-child) {
        padding: 3rem 2rem !important;
    }

    .the-PSAI img{
        width: 100%;
        bottom: 10rem;
        top: auto;
        left: auto;
    }

    section#music-video {
        padding: 0 !important;
    }
    
}

@media (min-width: 769px) {

    #refreshBtn {
        margin-bottom: 10px;
        position: absolute;
    }
 
    .mobile {
        display: none; /* Hide mobile navbar on larger screens */
    }

    .figtingWithAISlider, .figtingWithAISlider .img-container, .slide-content {
        min-height: 100vh;
        overflow: hidden;
        height: 100%;
    }
}